@{
    ViewData["Title"] = "Home Page";
    var Figuritas = ViewBag.Figuritas as List<Figurita>;
}

@if (Figuritas == null || Figuritas.Count == 0)
{
    <p>No hay Figuritas cargadas.</p>
}
else
{
    @foreach(var figu in Figuritas)
    {
        <div>
        <p>@figu.nombre</p>
        <p>@figu.pais</p>
        <p>@figu.posicion</p>
        <p>@figu.grupo</p>
        <p>@figu.cantidadFiguritas figuritas conseguidas</p>
        @if (@figu.pegada == "si") 
        {<p>Pegada!</p>}
        else
        {<p>no fue pegada</p>}
        <br>
        </div>
    }
}
