@{
    ViewData["Title"] = "Home Page";
    var Figuritas = ViewBag.Figuritas as List<Figurita>;
}
<body>
    <header>
<a href="@Url.Action("AbrirPaquete", "Home")">Abrir Paquete</a> 
<a href="@Url.Action("index", "Home")">Ver album</a>    
    </header>   

    <main>
    <h1> Bienvenido al album virtual de la Fifa 2026
      @if (Figuritas == null || Figuritas.Count == 0)
{
    <p>No hay Figuritas cargadas.</p>
}
else
{
    @foreach(var figu in Figuritas)
    {
        <div>
        <p>@(figu.id + ".svg")</p>
        <img src="~/images/jugadores/@(figu.id).svg">
        <p>@figu.cantidadFiguritas figuritas conseguidas</p>
        @if (@figu.pegada == "si") 
        {<p>Pegada!</p>}
        else
        {<p>no fue pegada</p>}
        <br>
        </div>
    }
}
    </main>
</body>

